<h1>Listagem de Munícipes</h1>
<table>
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>CPF</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @municipes.each do |municipe| %>
      <tr>
        <td><%= municipe.nome_completo %></td>
        <td><%= municipe.cpf %></td>
        <td><%= municipe.status ? 'Ativo' : 'Inativo' %></td>
        <td><%= link_to 'Mostrar', municipe %></td>
        <td><%= link_to 'Editar', edit_municipe_path(municipe) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Novo Munícipe', new_municipe_path %>
